{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Contáctanos{% endblock %}


{% block content %}
<h1>Contactanos</h1>
    <form method="POST">{% csrf_token %}
        {{ form|crispy }}
        <div>
            <p>Asunto: <input type="text" name="asunto"></p>
        </div>
        <div>
            <p>Email: <input type="text" name="email"></p>
        </div>
        <div>
            <p>Mensaje: </p>
            <p><textarea name="mensaje" rows="15" cols="45"></textarea></p>
        </div>
        <input type="submit" value="Enviar">

    </form>
{% endblock %}
