{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Ranking QUE NO VAMOS A USAR</title>
	<link href="{% static 'css/archivo.css' %}" rel="stylesheet" />
</head>

<body>

	<h1>RANKING GLOBAL DE JUGADORES</h1>
	
	<table id="tabla_ranking">
			<tr id="titulos_tabla">
				<td><b>Jugador</b></td>
				<td><b>Puntuación</b></td>
			</tr>
		{% for user in lista_usuarios %}
			<tr id="contenido_tabla">
				<td>{{user.nick}}</td>
				<td>{{user.puntuacion}} ptos</td>
			</tr>

		{% endfor %}

	</table>
	
	{% include "pie.html" %}

</body>
</html>