{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block jumbotron %}
<div class="jumbotron">
	<h1>BIENVENID@</h1>
	<p class="lead">Somos la mejor aplicación de futbol. ¿Aun no tienes cuenta? Puedes registrarte aquí</p>
	<a class="btn btn-lg btn-primary" href="/docs/4.4/components/navbar/" role="button">Regístrate &raquo;</a>
</div>
{% endblock %}
{% block head_title %}Login{% endblock %}


{% block content %}
<h1 class="center-align">Iniciar sesión</h1>
<div class="row">
	<div class="col-md-6 offset-md-3">
		<form method="post">{% csrf_token %}
			{{ form|crispy }}
			<input class="btn btn-primary" type="submit" value="Entrar"/>
		</form>
	</div>
</div>
{% endblock %}