body{
    margin: 0px;
}

.center-align{
    text-align: center;             /*Centrar el text*/
}

.navbar-nav li a{
    margin-left: 15px;				/*separación entre los enlaces*/ 
   
}

#msgError{                          /*En login*/
    color: red;
}

#msgExito{                          /*En cambio de contraseña*/
    color: green;
}
#msgFracaso{
    color: red;
}
#contenido_tabla td{
    text-align: center;
    padding: 15px;
}
#contenido_titulo td{
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}
#tabla_mercado{
    width: 80%;
    margin-left: 10%;
}
#tabla_jugadores{
    width: 80%;
    margin-left: 10%;
}
#tabla_jugadores_S{
    margin-left: 1%;
    width: 47%;
    font-size: 15px;
}

#tabla_jugadores_NS{
    margin-right: 1%;
    float: right;
    width: 47%;
    font-size: 15px;
}

#infoJugador td{
    padding: 15px;
    font-size: large;
}
#tabla_clasificacion{
    width: 30%;
    margin-left: 35%;
}

#menu_liga{
    font-size: large;
    margin-top: 5%;
}
#submenu_liga li{
    list-style: none;
}

#dropdown ul{
    background-color: #343a40;
    position: absolute;
    padding-left: 0;
    display: none;                  /*hace que el submenú desaparezca*/
}

#dropdown:hover ul{
    display: block;
}

#jornada{
    padding-left: 15%;
}
div.redesSociales{
    width: 50%; 
    float: right;
}
div.redesSociales img{				/*Modifica las imágenes del pie de página*/
	text-align:center;
	text-decoration: none;
	width: 30px; 
	height: 30px;
    margin-top: 10px;
    margin-right: 15px;
}