body{
    margin: 0px;
}

.center-align{
    text-align: center;             /*Centrar el text*/
}

.navbar-nav li a{
    margin-left: 15px;				/*separación entre los enlaces*/ 
   
}

#msgError{                          /*En login*/
    color: red;
}

#msgExito{                          /*En cambio de contraseña*/
    color: green;
}
#msgFracaso{
    color: red;
}
#contenido_tabla td{
    padding: 15px;
}
#contenido_titulo td{
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid black;
}