{% extends "base.html" %}
{% load static %}
{% block head_title %}Ayuda{% endblock %}


{% block content %}

<h1 class="center-align">AYUDA</h1><br>
	<div style="margin-left: 2%;">
		<h3><i class="far fa-question-circle"></i> <u>Preguntas más frecuentes</u></h3><br>
		<p><b>¿Qué son los jugadores seleccionados y no seleccionados?</b></p>
	</div><br><br><br><br>
	<div style="margin-left: 2%;">
		<h5>Para más dudas puede contactar con nosotros</h5>
				<p><i class="fas fa-phone"></i> Telefono:</p>
				<p><i class="far fa-envelope"></i> Correo electronico:</p>
	</div>

{% endblock %}