{% extends "base.html" %}
{% load static %}
{% block head_title %}Ayuda{% endblock %}


{% block content %}

<h1 class="center-align">AYUDA</h1><br>
	<div class="class_ayuda">
		<h3><i class="far fa-question-circle"></i> <u>Preguntas más frecuentes</u></h3><br>
		<p><b>¿Puedo cambiar algún dato de mi perfil?</b></p>
		<p>  
			Si, en el perfil (se accede pulsando en el nombre de usuario del menú), pulsando el botón Opciones.
			Estas opciones le permitirán al usuario cambiar el nombre del equipo, el correo electónico o la contraseña.
		</p><br>
		<p><b>¿Qué son las ligas?</b></p>
		<p>
			Son comunidades donde los usuarios compiten entre ellos. Cada liga posee un mercado propio donde se 
			ponen a la venta jugadores.
		</p><br>

		<p><b>¿Hay un máximo de jugadores por liga?¿Y un mínimo?</b></p>
		<p> 
			Hay un máximo de 10 usuarios por liga. Pero no hay mínimo.
		</p><br>
		<p><b>¿Qué son los jugadores seleccionados y no seleccionados?</b></p>
		<p> 
			Los jugadores seleccionados son los que forman parte del once inicial del usuario. Esto quiere 
			decir, que cuando finalice la jornada, son los que sumarán puntos al equipo del usuario. Los no seleccionados 
			no sumarán puntos al equipo
		</p><br>
		<p><b>¿Cuantos jugadores puedo tener seleccionados?¿Y no seleccionados?</b></p>
		<p> 
			Al igual que en un partido de futbol profesional, solo se podrán tener 11 jugadores seleccionados.
			Los no seleccionados serán el resto de jugadores de la plantilla del usuario.
		</p><br>
		<p><b>¿Se puede tener presupuesto negativo?</b></p>
		<p> 
			Si, se puede tener un presupuesto negativo, pero si esto sucede, el usuario no sumará los puntos que 
			le correspondan por jornada. 
		</p>
	</div><br><br><br><br>
	<div style="margin-left: 2%;">
		<h5>Para más dudas puede contactar con nosotros</h5>
				<p><i class="fas fa-phone"></i> Telefono: +34 111111111</p>
				<p><i class="far fa-envelope"></i> Correo electronico: contacto@futbolmania.com</p>
	</div><br>

{% endblock %}