{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Cambio de email{% endblock %}

{% block content %}
<br>
    <div class="row">
	    <div class="col-md-4 offset-md-4">
            <p id="msgExito">{{msgExito}}</p>
            <p id="msgFracaso">{{msgFracaso}}</p>
            <form method="post">{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-outline-primary" type="submit" value="Cambiar"/>
            </form>
            <br>
            <a class="btn btn-outline-danger" href="{% url 'perfil' %}" role="button">&laquo; Volver al perfil</a>
        </div>
    </div>    

{% endblock %}