{% extends "base.html" %}

{% block head_title %}Clasificación de tu liga{% endblock %}

{% block content %}

    <h1 style="text-align: center">LIGA {{nombre_liga}}</h1>
    <h2 style="text-align: center">CLASIFICACIÓN</h2>
    <br>
    <table id="tabla_clasificacion">
        <thead>
            <tr id="contenido_titulo">
                <td><b>Equipo</b></td>
                <td><b>Puntuación</b></td>
            </tr>
        </thead>
        <tbody>
            {% for elem in mejores_mi_liga %}
                <tr id="contenido_tabla">
                    <td><a href="/usuario/{{elem.username}}">{{elem.mi_equipo}}</a></td>
                    <td> {{elem.puntuacion}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
   <style>
        table tbody tr:nth-child(odd) {
            background: #E2E3E3;
        }
        table tbody tr:nth-child(even) {
            background: #F4F4F4;
        }
   </style>
{% endblock %}