{% extends "base.html" %}

{% block head_title %}Clasificación de tu liga{% endblock %}

{% block content %}

    <h1 style="text-align: center">LIGA {{nombre_liga}}</h1>
    <h2 style="text-align: center">CLASIFICACIÓN</h2>
    <br>
    <table id="tabla_clasificacion">
        <tr id="contenido_titulo">
            <td><b>Equipo</b></td>
            <td><b>Puntuación</b></td>
        </tr>
        {% for elem in lista_usuarios %}
            <tr id="contenido_tabla">
                <td><a href="/usuario/{{elem.username}}">{{elem.mi_equipo}}</a></td>
                <td> {{elem.puntuacion}}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <!--<input class="btn btn-outline-danger mt-1" type="button" onclick="history.back()" name="Volver atrás" value="&laquo; Volver atrás">--->
{% endblock %}