{% extends "base.html" %}			<!--extends debe ser la primera tag de la plantilla-->
{% load crispy_forms_tags %}

{% block head_title %}Crear liga{% endblock %}

<html>
    {% block content %}
        <h1 style="text-align: center;">¡ENHORABUENA {{username}}! Ya has sido registrado.</h1>
        <div class="row_creacion">
            <div class="col-md-6 offset-md-3">
                <h2>Crea tu liga</h2>
                <p id="msgError">{{msg}}</p>
                <form method="post" action="."> {% csrf_token %}
                   {{form|crispy}}
                   <input class="btn btn-success" type="submit" value="Crear"/>
                </form>
                <a class="btn btn-danger mt-1" href="{% url 'eleccionLiga' %}" role="button">&laquo; Volver atrás</a>
            </div>
        </div> 

    {% endblock %}
</html>