{% extends "base.html" %}			<!--extends debe ser la primera tag de la plantilla-->
{% load crispy_forms_tags %}

{% block head_title %}Crear liga{% endblock %}

<html>
    {% block content %}
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2>Crea tu liga</h2>
                <form method="post" action="."> {% csrf_token %}
                   {{form|crispy}}
                   <input class="btn btn-success" type="submit" value="Crear"/>
                </form>
            </div>
        </div> 

    {% endblock %}
</html>