{% extends "base.html" %}			<!--extends debe ser la primera tag de la plantilla-->
{% load crispy_forms_tags %}

{% block head_title %}Elegir liga{% endblock %}
   
<html>
    {% block content %}
    <h1 style="text-align: center;">¡ENHORABUENA {{my_username}}! Ya has sido registrado.</h1>
    <p style="text-align: center;">Ahora debes elegir una liga. Puedes unirte a una existente o crear una nueva.</p><br>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Liga existente</h2>
            <p style="color: red;">{{msg}}</p>
            <form method="post" action="."> {% csrf_token %}
               {{form|crispy}}
               <input class="btn btn-success" type="submit" value="Seleccionar"/>
            </form>
        <br>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-4 offset-md-4">  
        
            <h2>Crear Liga</h2>
            <a class="btn btn-lg btn-primary" href="{% url 'creacionLiga' %}" role="button">Crear</a>
        
        </div>
    </div>
    {% endblock %}


</html>