{% extends "base.html" %}			<!--extends debe ser la primera tag de la plantilla-->
{% load crispy_forms_tags %}

{% block head_title %}Registrarse{% endblock %}



{% block content %}
	<div style="background-color: #8CCF75; width: 50%; margin-left: 25%; margin-top: 2%;">
		<h1 class="center-align" style="padding-top: 2%;">Registrarse</h1><br>
			<div class="col-lg-8 offset-lg-2">
				<form method="post" action="."> {% csrf_token %}
						{{ form|crispy }}
						<input class="btn btn-success" type="submit" value="Registrarme"/>

				</form>
				<br>
				<a class="btn btn-danger mt-1" href="{% url 'inicioSesion' %}" role="button">&laquo; Volver atrás</a>
			</div><br><br>
	</div><br><br>
{% endblock %}
