{% extends "base.html" %}

{% block head_title %}Ficha del jugador{% endblock %}

{% block content %}

    <h1 class="center-align">Información del jugador</h1>

    <table id="tabla_informacion_jug">
        <tr id="infoJugador"><td><b>Nombre:</b> {{mi_jugador.nombre}}</td></tr>
        <tr id="infoJugador"><td><b>Apellidos:</b> {{mi_jugador.apellidos}}</td></tr>
        <tr id="infoJugador"><td><b>Equipo:</b> {{mi_jugador.equipo}}</td></tr>
        <tr id="infoJugador"><td><b>Posición:</b> {{mi_jugador.posicion}}</td></tr>
        <tr id="infoJugador"><td><b>Puntos:</b> {{mi_jugador.puntuacion}}</td></tr>
        <tr id="infoJugador"><td><b>Actual propietario:</b> <a href="/usuario/{{propietario.username}}">{{propietario}}</a></td></tr>
       

    </table>
    <br>
    <input class="btn btn-outline-danger mt-1" type="button" onclick="history.back()" name="Volver atrás" value="&laquo; Volver atrás">
{% endblock %}