{% extends "base.html" %}

{% block head_title %}Inicio{% endblock %}

{% block content %}
	
	<fieldset id="jornada">
		<legend style="font-size: 20px">Próxima jornada</legend>
		<p>Betis <i>vs</i> Leganés</p>
		<p>Villareal <i>vs</i> Celta de Vigo</p>
		<p>FC Barcelona <i>vs</i> Osasuna</p>
		<p>Sevilla <i>vs</i> Atlético de Madrid</p>
		<p>Valladolid <i>vs</i> Mallorca</p>
		<p>Getafe <i>vs</i> Alavés</p>
		<p>Athletic <i>vs</i> Espanyol</p>
		<p>Valencia <i>vs</i> Levante</p>
		<p>Eibar <i>vs</i> Granada</p>
		<p>Real Sociedad <i>vs</i> Real Madrid</p>
	</fieldset>
	<br>
	<fieldset class="videos_inicio">
		<legend><h2>Vídeos de interés</h2></legend>

		<div class="card-deck">
			<div class="card">
				<div class="embed-responsive embed-responsive-16by9 video">
					<iframe width="727" height="409" src="https://www.youtube.com/embed/_4xncyMLNnM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="card-body">
					<h5 class="card-title">Resumen Real Madrid - Valencia</h5>
				</div>
			</div>

			<div class="card">
				<div class="embed-responsive embed-responsive-16by9 video">
					<iframe width="727" height="409" src="https://www.youtube.com/embed/tB0NV9ye0Ss" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>	
				<div class="card-body">	
					<h5 class="card-title">Resumen Alavés - Real Sociedad</h5>
				</div>
			</div>

			<div class="card">
				<div class="embed-responsive embed-responsive-16by9 video">
					<iframe width="727" height="409" src="https://www.youtube.com/embed/x5ZdetF_3DQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="card-body">
					<h5 class="card-title">Resumen Eibar - Athletic</h5>
				</div>
			</div>

		</div>
		<br>
		<div class="card-deck">
			
			<div class="card">
				<div class="embed-responsive embed-responsive-16by9 video">
					<iframe width="727" height="409" src="https://www.youtube.com/embed/BXgIls40xuU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="card-body">
					<h5 class="card-title">Resumen Getafe - Espanyol</h5>
				</div>
			</div>

			<div class="card">
				<div class="embed-responsive embed-responsive-16by9 video">
					<iframe width="727" height="409" src="https://www.youtube.com/embed/rBw5AmNXcfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="card-body">
					<h5 class="card-title">Resumen Villareal - Mallorca</h5>
				</div>
			</div>

			<div class="card">
				<div class="embed-responsive embed-responsive-16by9 video">
					<iframe width="727" height="409" src="https://www.youtube.com/embed/ZKBU_ArynLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="card-body">
					<h5 class="card-title">Resumen Osasuna - Atlético de Madrid</h5>
				</div>
			</div>
		</div>
	</fieldset>

{% endblock %}