{% extends "base.html" %}
{% load static %}

{% block head_title %}Inicio{% endblock %}

{% block content %}

	<div class="pag_completa" >
		<div class="jornadas_inicio"> 
			<div class="prox_jor" >
				<h4 class="center-align"><u>Próxima jornada</u></h4>
				<table class="table_ult_jor">
					<tr>
						<td>Betis</td><td><i>vs</i></td><td>Leganés</td>
					</tr>
					<tr>
						<td>Villareal</td><td><i>vs</i></td><td>Celta</td>
					</tr>
					<tr>	
						<td>Barcelona</td><td><i>vs</i></td><td>Osasuna</td>
					</tr>
					<tr>	
						<td>Sevilla</td><td><i>vs</i></td><td>Atl Madrid</td>
					</tr>
					<tr>	
						<td>Valladolid</td><td><i>vs</i></td><td>Mallorca</td>
					</tr>
					<tr>	
						<td>Getafe</td><td><i>vs</i></td><td>Alavés</td>
					</tr>
					<tr>	
						<td>Athletic</td><td><i>vs</i></td><td>Espanyol</td>
					</tr>
					<tr>	
						<td>Valencia</td><td><i>vs</i></td><td>Levante</td>
					</tr>
					<tr>	
						<td>Eibar</td><td><i>vs</i></td><td>Granada</td>
					</tr>
					<tr>	
						<td>R. Sociedad</td><td><i>vs</i></td><td>R. Madrid</td>	
					</tr>
				</table>
			</div>
			<div class="ult_jor">
				<h4 class="center-align"><u>Última jornada</u></h4>
				<table class="table_ult_jor">
					<tr>
						<td>Valencia</td><td><b>2 - 1</b></td><td>Valladolid</td>
					</tr>
					<tr>
						<td>Celta</td><td><b>1 - 1</b></td><td> Atl Madrid</td>
					</tr>
					<tr>
						<td>Betis</td><td><b>3 - 0</b></td><td> Osasuna</td>
					</tr>
					<tr>	
						<td>Getafe</td><td><b>1 - 3</b></td><td>Villareal</td>
					</tr>
					<tr>	
						<td>Barcelona</td><td><b>1 - 0</b></td><td> Espanyol</td>
					</tr>
					<tr>	
						<td>Eibar</td><td><b>0 - 0</b></td><td>Leganés</td>
					</tr>
					<tr>	
						<td>Mallorca</td><td><b>2 - 0</b></td><td>Levante</td>
					</tr>
					<tr>	
						<td>Athletic</td><td><b>1 - 2</b></td><td>Sevilla</td>
					</tr>
					<tr>	
						<td>R. Sociedad</td><td><b>2 - 3</b></td><td>Granada</td>
					</tr>
					<tr>	
						<td>R. Madrid</td><td><b>2 - 0</b></td><td>Alavés</td>	
					</tr>
				</table>
			</div>
		</div>
		<br>

		<div class="videos_inicio" style="width: 90%; margin: 5%; padding: 2%; background-color: #FCCA46;">
			<h2 style="padding-bottom: 2%;">Vídeos de interés</h2>

			<div class="card-deck">
				<div class="card">
					<div class="embed-responsive embed-responsive-16by9 video">
						<iframe width="727" height="409" src="https://www.youtube.com/embed/dg-IUgMYr3s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="card-body">
						<h5 class="card-title">Resumen Atlético - Betis</h5>
					</div>
				</div>

				<div class="card">
					<div class="embed-responsive embed-responsive-16by9 video">
						<iframe width="727" height="409" src="https://www.youtube.com/embed/tB0NV9ye0Ss" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>	
					<div class="card-body">	
						<h5 class="card-title">Resumen Alavés - Real Sociedad</h5>
					</div>
				</div>

				<div class="card">
					<div class="embed-responsive embed-responsive-16by9 video">
						<iframe width="727" height="409" src="https://www.youtube.com/embed/x5ZdetF_3DQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="card-body">
						<h5 class="card-title">Resumen Eibar - Athletic</h5>
					</div>
				</div>

				<div class="card">
					<div class="embed-responsive embed-responsive-16by9 video">
						<iframe width="727" height="409" src="https://www.youtube.com/embed/x5ZdetF_3DQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="card-body">
						<h5 class="card-title">Resumen Eibar - Athletic</h5>
					</div>
				</div>

			</div>
			<br>
			<div class="card-deck">
				
				<div class="card">
					<div class="embed-responsive embed-responsive-16by9 video">
						<iframe width="727" height="409" src="https://www.youtube.com/embed/BXgIls40xuU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="card-body">
						<h5 class="card-title">Resumen Getafe - Espanyol</h5>
					</div>
				</div>

				<div class="card">
					<div class="embed-responsive embed-responsive-16by9 video">
						<iframe width="727" height="409" src="https://www.youtube.com/embed/rBw5AmNXcfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="card-body">
						<h5 class="card-title">Resumen Villareal - Mallorca</h5>
					</div>
				</div>

				<div class="card">
					<div class="embed-responsive embed-responsive-16by9 video">
						<iframe width="727" height="409" src="https://www.youtube.com/embed/ZKBU_ArynLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="card-body">
						<h5 class="card-title">Resumen Osasuna - Atlético de Madrid</h5>
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>
{% endblock %}