{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block jumbotron %}
<div class="jumbotron">
	<h1>BIENVENID@</h1>
	<p class="lead">Somos la mejor aplicación de futbol. ¿Aun no tienes cuenta? Puedes registrarte aquí</p>
	<a class="btn btn-lg btn-primary" href="{% url 'registro' %}" role="button">Regístrate &raquo;</a>
</div>
{% endblock %}
{% block head_title %}Login{% endblock %}


{% block content %}
<h1 class="center-align">Inicia sesión</h1>
<div class="row">
	<div class="col-md-4 offset-md-4">
		<p id="msgError">{{aviso}}</p>
		<form method="post">{% csrf_token %}
			{{ form|crispy }}
			<input class="btn btn-primary" type="submit" value="Entrar"/>
		</form>
		<br>
	</div>
</div>
{% endblock %}