{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Inicio de sesión{% endblock %}


{% block content %}
	<div style="background-color: #8CCF75; width: 40%; margin-left: 30%; margin-top: 2%;">	
		<h1 class="center-align" style="padding-top: 2%;">Iniciar sesión</h1>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<p id="msgError">{{aviso}}</p>
				<form method="post">{% csrf_token %}
					{{ form|crispy }}
					<input class="btn btn-primary" type="submit" value="Entrar"/>
				</form><br>
				<p style="font-size: 18px;">¿Aún no tienes cuenta? <a href="{% url 'registro' %}">Regístrate</a></p>
			</div>
		</div><br>
	</div> 
	<br><br>
	<div style="background-color: #FCCA46 ; height: 150px; padding: 2%;"> <!--#FE7F2D-->
		<div style="width: 50%; float: right;">
			<h5><u>Redes sociales</u></h5>
			<p><i class="fab fa-facebook-square"></i><img src="../Aplicacion/static/img/facebook.png"></p>
			<p><i class="fab fa-twitter"></i></p>   
			<p><i class="fab fa-instagram"></i></p>
		</div>
		<div style="width: 50%;">	
			<h5><u>Contacto</u></h5>
			<p><i class="fas fa-phone"></i> Telefono:</p>
			<p><i class="far fa-envelope"></i> Correo electronico:</p>
		</div>
	</div>
	<p class="center-align">&copy; MARTA VERDUGO</p>
{% endblock %}