{% extends "base.html" %}
{% load static %}
{% block head_title %}Mercado de tu liga{% endblock %}

{% block content %}
<br>
    {% if jugadorAñadido %}
    <div class="center-align">
        <h2>JUGADOR AÑADIDO CORRECTAMENTE AL MERCADO</h2><br><br>

        <a class="btn btn-outline-danger mt-1" href="{% url 'mercado' %}" role="button"> Volver al mercado</a>
    </div>
    
    {% else %}
        <h1 class="center-align">Añadir al mercado</h1><br>

        <h3 class="center-align">¿Estás segur@ que quieres poner a {{mi_jugador.nombre}} {{mi_jugador.apellidos}} en el mercado?</h3><br>
        <div class="mensaje_warning">
            <p class="center-align"><i class="fas fa-info-circle"></i> 
                El jugador estará dos días en el mercado. Después de ese periodo pasará a ser parte de la plantilla del usuario que más puje por él. 
                En caso de no haber ninguna puja el jugador seguirá perteneciendo a su plantilla.
            </p>
        </div>
        {% if mensaje_de_error %}
            <div class="mensaje_de_error">
                <p class="center-align"><i class="fas fa-exclamation-circle"></i> 
                    El jugador ya ha sido añadido al mercado, no puedes añadirlo de nuevo.
                </p>
            </div>
        {% endif %}
        <div class="center-align">
            <form action="/mercado/{{mi_jugador.id}}" method="POST">{% csrf_token %}
                <input class="btn btn-outline-success" type="submit" value="Añadir"/>
            </form><br>
            <a class="btn btn-outline-danger mt-1" href="{% url 'añadir_jugadores' %}" role="button"> Cancelar</a>
        </div>
    {% endif %}
{% endblock %}