{% extends "base.html" %}

{% block head_title %}Mercado de tu liga{% endblock %}

{% block content %}

    <h1 style="text-align: center">LIGA {{nombre_liga}}</h1>
    <h2 style="text-align: center">MERCADO</h2>
    <br>
    <table id="tabla_mercado">
        <tr id="contenido_titulo">
            <td><b>Nombre</b></td>
            <td><b>Apellidos</b></td>
            <td><b>Equipo</b></td>
            <td><b>Puja más alta</b></td>
            <td><b>Tiempo restante</b></td>
        </tr>
        {% for i in jugadores_en_el_mercado %}
            <tr id="contenido_tabla">
                <td><a href="/jugador/{{i.jugador_mercado.id}}">{{i.jugador_mercado.nombre}}</a></td>
                <td>{{i.jugador_mercado.apellidos}}</td>
                <td>{{i.jugador_mercado.equipo}}</td>
                {% for j in pujas %}
                    {% ifequal j.jugador.id i.jugador_mercado.id %}
                        <td>{{j.cantidad}} por {{j.pujador}}</td>
                    {% endifequal %}
                    {% ifnotequal j.jugador.id i.jugador_mercado.id %}
                        <td><i>No hay puja</i></td>
                    {% endifnotequal %}
                {% endfor %}
                <td>holi</td>
                <form method="post" action="."> {% csrf_token %}
                    <td><input type="number" id="puja" name="puja"></td>
                    <td>
                        <input type="hidden" name="idJugador" value="{{i.jugador_mercado.id}}"/>        <!--enviamos el id del jugador-->
                        <input class="btn btn-outline-danger mt-1" type="submit" value="Pujar"/>
                    </td>
                </form>
            </tr>
        {% endfor %}
    </table>
    <br>
    <!--<a class="btn btn-outline-danger mt-1" href="{% url 'liga' %}" role="button">&laquo; Volver atrás</a>-->
{% endblock %}