{% extends "base.html" %}

{% block head_title %}Mercado de liga {{nombre_liga}}{% endblock %}

{% block content %}

    <h1 class="center-align">LIGA {{nombre_liga}}</h1>
    <h2 class="center-align">MERCADO</h2>
    <br>
    <div class="center-align">
        <a class="btn btn-danger mt-1" href="/jugadores/" role="button"><i class="fas fa-plus"></i> Añadir jugadores al mercado</a>
    </div><br><br>
    <p class="center-align" style="background-color: #FCCA46; width: 60%; margin-left: 20%; padding: 1%;"><i class="fas fa-info-circle"></i> Los jugadores estarán en el mercado 2 DÍAS</p>
    <br>
    {% if mensaje_de_error %}
        <div class="mensaje_de_error">
            <p class="center-align"><i class="fas fa-exclamation-circle"></i> Este jugador ya forma parte de tu equipo. No puedes pujar por él.</p>
        </div>
    {% endif %}
    {% if mensaje_de_error_2 %}
        <div class="mensaje_de_error">
            <p class="center-align"><i class="fas fa-exclamation-circle"></i> La cantidad que quiere pujar es mayor a su presupuesto.</p>
        </div>
    {% endif %}
    <br>
    <table id="tabla_mercado">
        <thead>
            <tr id="contenido_titulo">
                <td><b>Jugador</b></td>
                <td><b>Equipo</b></td>
                <td><b>Ingreso en el mercado</b></td>
                <td><b>Puja más alta</b></td>  
            </tr>
        </thead>
        <tbody>
            {% for i in jugadores_en_el_mercado %}
                <tr id="contenido_tabla">
                    <td><a href="/jugador/{{i.jugador.id}}">{{i.jugador.nombre}} {{i.jugador.apellidos}}</a></td>
                    <td>{{i.jugador.equipo}}</td>
                    <td>{{i.fecha_ingreso}}</td>
                    {% for j in pujas %}
                        {% ifequal j.jugador.id i.jugador.id %}
                            <td>{{j.cantidad}} por {{j.pujador}}</td>
                        {% endifequal %}
                        {% ifnotequal j.jugador.id i.jugador.id %}
                            <!--<td><i>No hay puja</i></td>-->
                        {% endifnotequal %}
                    {% endfor %}
                    
                    <form method="post" action="."> {% csrf_token %}
                        <td><input type="number" id="puja" name="puja"></td>
                        <td>
                            <input type="hidden" name="idJugador" value="{{i.jugador.id}}"/>        <!--enviamos el id del jugador-->
                            <input class="btn btn-outline-danger mt-1" type="submit" value="Pujar"/>
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <style>
        table tbody tr:nth-child(odd) {
            background: #E2E3E3;
        }
        table tbody tr:nth-child(even) {
            background: #F4F4F4;
        }
   </style>
{% endblock %}