{% extends "base.html" %}
{% load static %}
{% block head_title %}{{my_user.mi_equipo}}{% endblock %}

{% block content %}
    <h1 class="center-align">{{my_user.mi_equipo}}</h1>
    <br>
    {% if mensaje_de_error %}
        <div class="mensaje_de_error">
            <p class="center-align"><i class="fas fa-exclamation-circle"></i> No se pueden añadir más de 11 jugadores a la lista de Seleccionados.</p>
        </div>
    {% endif %}
    {% if mensaje_de_errorPortero %}
        <div class="mensaje_de_error">
            <p class="center-align"><i class="fas fa-exclamation-circle"></i> No se pueden añadir más de 1 portero a Seleccionados.</p>
        </div>
    {% endif %}
    {% if mensaje_de_errorDefensa %}
        <div class="mensaje_de_error">
            <p class="center-align"><i class="fas fa-exclamation-circle"></i> No se pueden añadir más de 4 defensas a Seleccionados.</p>
        </div>
    {% endif %}
    {% if mensaje_de_errorCentro %}
        <div class="mensaje_de_error">
            <p class="center-align"><i class="fas fa-exclamation-circle"></i> No se pueden añadir más de 4 centrocampistas a Seleccionados.</p>
        </div>
    {% endif %}
    {% if mensaje_de_errorDelantero %}
        <div class="mensaje_de_error">
            <p class="center-align"><i class="fas fa-exclamation-circle"></i> No se pueden añadir más de 2 delanteros a Seleccionados.</p>
        </div>
    {% endif %}
    {% if desactivacion %}
        <div class="mensaje_de_error">
            <p class="center-align"><i class="fas fa-exclamation-circle"></i> Actualmente la jornada está en curso, cuando finalice podrá volver a cambiar su once inicial.</p>
        </div>
    {% endif %}
    <br>
    <div style="margin-bottom: 2%;">
        <div style="float: right; width: 50%;">
            <h4 class="center-align">JUGADORES NO SELECCIONADOS</h4>
        </div>
        <div style="width: 50%;">
            <h4 class="center-align">JUGADORES SELECCIONADOS</h4>
        </div>
    </div>
    <table id="tabla_jugadores_NS">
        <caption>Total jugadores no seleccionados: {{total_no_selec}}</caption>
        <tr id="contenido_titulo">
            <td><b>Jugador</b></td>
            <td><b>Posición</b></td>
            <td><b>Ultima jornada</b></td>
        </tr>
        {% for jugNS in my_plantilla_no_seleccionada %}
            {% ifequal jugNS.jugador.posicion 'PORTERO'%}
            <tr id="contenido_tabla">
                <td>{{jugNS.jugador.nombre}} {{jugNS.jugador.apellidos}} ({{jugNS.jugador.equipo}})</td>
                
                <td>{{jugNS.jugador.posicion}}</td>
                
                
                {% for jorn in jugadores_de_la_jorn %}
                    {% if jugNS.jugador.id == jorn.jugador.id %}
                        <td>{{jorn.puntos}} puntos</td>
                    {% endif %}
                {% endfor %}
                {% if desactivacion %}
                    <td>
                        <input style="padding:2%; font-size: 14px;" class="btn btn-secondary mt-1" type="button" value="Seleccionar"/>
                    </td>
                {% else %}
                    <td>
                        <form action="/miEquipo/" method="post">{% csrf_token %}
                            <input type="hidden" name="jug" value="{{jugNS.jugador.id}}"/>  
                            <input style="padding:2%; font-size: 14px;" class="btn btn-outline-success mt-1" type="submit" value="Seleccionar"/>
                        </form>
                    </td>
                {% endif %}
            </tr>
            {% endifequal %}
        {% endfor %}
        {% for jugNS in my_plantilla_no_seleccionada %}
            {% ifequal jugNS.jugador.posicion 'DEFENSA'%}
            <tr id="contenido_tabla">
                <td>{{jugNS.jugador.nombre}} {{jugNS.jugador.apellidos}} ({{jugNS.jugador.equipo}})</td>
                
                <td>{{jugNS.jugador.posicion}}</td>
                
                
                {% for jorn in jugadores_de_la_jorn %}
                    {% if jugNS.jugador.id == jorn.jugador.id %}
                        <td>{{jorn.puntos}} puntos</td>
                    {% endif %}
                {% endfor %}
                {% if desactivacion %}
                    <td>
                        <input style="padding:2%; font-size: 14px;" class="btn btn-secondary mt-1" type="button" value="Seleccionar"/>
                    </td>
                {% else %}
                    <td>
                        <form action="/miEquipo/" method="post">{% csrf_token %}
                            <input type="hidden" name="jug" value="{{jugNS.jugador.id}}"/>  
                            <input style="padding:2%; font-size: 14px;" class="btn btn-outline-success mt-1" type="submit" value="Seleccionar"/>
                        </form>
                    </td>
                {% endif %}
            </tr>
            {% endifequal %}
        {% endfor %}
        {% for jugNS in my_plantilla_no_seleccionada %}
            {% ifequal jugNS.jugador.posicion 'CENTROCAMPISTA'%}
            <tr id="contenido_tabla">
                <td>{{jugNS.jugador.nombre}} {{jugNS.jugador.apellidos}} ({{jugNS.jugador.equipo}})</td>
                
                <td>CENTRO</td>
                
                
                {% for jorn in jugadores_de_la_jorn %}
                    {% if jugNS.jugador.id == jorn.jugador.id %}
                        <td>{{jorn.puntos}} puntos</td>
                    {% endif %}
                {% endfor %}
                {% if desactivacion %}
                    <td>
                        <input style="padding:2%; font-size: 14px;" class="btn btn-secondary mt-1" type="button" value="Seleccionar"/>
                    </td>
                {% else %}
                    <td>
                        <form action="/miEquipo/" method="post">{% csrf_token %}
                            <input type="hidden" name="jug" value="{{jugNS.jugador.id}}"/>  
                            <input style="padding:2%; font-size: 14px;" class="btn btn-outline-success mt-1" type="submit" value="Seleccionar"/>
                        </form>
                    </td>
                {% endif %}
            </tr>
            {% endifequal %}
        {% endfor %}
        {% for jugNS in my_plantilla_no_seleccionada %}
            {% ifequal jugNS.jugador.posicion 'DELANTERO'%}
            <tr id="contenido_tabla">
                <td>{{jugNS.jugador.nombre}} {{jugNS.jugador.apellidos}} ({{jugNS.jugador.equipo}})</td>
                
                <td>{{jugNS.jugador.posicion}}</td>
                
                
                {% for jorn in jugadores_de_la_jorn %}
                    {% if jugNS.jugador.id == jorn.jugador.id %}
                        <td>{{jorn.puntos}} puntos</td>
                    {% endif %}
                {% endfor %}
                {% if desactivacion %}
                    <td>
                        <input style="padding:2%; font-size: 14px;" class="btn btn-secondary mt-1" type="button" value="Seleccionar"/>
                    </td>
                {% else %}
                    <td>
                        <form action="/miEquipo/" method="post">{% csrf_token %}
                            <input type="hidden" name="jug" value="{{jugNS.jugador.id}}"/>  
                            <input style="padding:2%; font-size: 14px;" class="btn btn-outline-success mt-1" type="submit" value="Seleccionar"/>
                        </form>
                    </td>
                {% endif %}
            </tr>
            {% endifequal %}
        {% endfor %}
    </table>
    <table id="tabla_jugadores_S" style="background-image: url('../static/img/campo_futbol.jpg');">
        <tr id="contenido_tabla">
            {% for jugS in my_plantilla_seleccionada %}	
                {% ifequal jugS.jugador.posicion 'PORTERO' %}
                    <td colspan="4">
                        <b>{{jugS.jugador.nombre}} {{jugS.jugador.apellidos}}</b><br>
                        ({{jugS.jugador.equipo}})<br>
                        {% for jorn in jugadores_de_la_jorn %}
                            {% if jugS.jugador.id == jorn.jugador.id %}
                                {{jorn.puntos}} pts
                            {% endif %}
                        {% endfor %} 
                        <br>
                        {% if desactivacion %}
                            
                            <input style="padding:2%; font-size: 14px;" class="btn btn-secondary mt-1" type="button" value="Quitar"/>
                            
                        {% else %}
                            
                            <form action="/miEquipo/" method="post">{% csrf_token %}
                                <input type="hidden" name="jug" value="{{jugS.jugador.id}}"/>  
                                <input style="padding:2%; font-size: 14px;" class="btn btn-danger mt-1" type="submit" value="Quitar"/>
                            </form>
                            
                        {% endif %}
                        
                    </td>
                {% endifequal %}
            {% endfor %}
        </tr>
    
        <tr id="contenido_tabla">
            {% for jugS in my_plantilla_seleccionada %}
                {% ifequal jugS.jugador.posicion 'DEFENSA' %}
                    <td>
                        <b>{{jugS.jugador.nombre}} {{jugS.jugador.apellidos}}</b><br>
                        ({{jugS.jugador.equipo}})<br>
                        {% for jorn in jugadores_de_la_jorn %}
                            {% if jugS.jugador.id == jorn.jugador.id %}
                                {{jorn.puntos}} pts
                            {% endif %}
                        {% endfor %}
                        <br>
                        {% if desactivacion %}
                            
                            <input style="padding:2%; font-size: 14px;" class="btn btn-secondary mt-1" type="button" value="Quitar"/>
                            
                        {% else %}
                            
                            <form action="/miEquipo/" method="post">{% csrf_token %}
                                <input type="hidden" name="jug" value="{{jugS.jugador.id}}"/>  
                                <input style="padding:2%; font-size: 14px;" class="btn btn-danger mt-1" type="submit" value="Quitar"/>
                            </form>
                            
                        {% endif %}
                    </td>
                {% endifequal %}
            {% endfor %}
        </tr>
        <tr id="contenido_tabla">
            {% for jugS in my_plantilla_seleccionada %}	
                {% ifequal jugS.jugador.posicion 'CENTROCAMPISTA' %}
                    <td>
                        <b>{{jugS.jugador.nombre}} {{jugS.jugador.apellidos}}</b><br>
                        ({{jugS.jugador.equipo}})<br>
                        {% for jorn in jugadores_de_la_jorn %}
                            {% if jugS.jugador.id == jorn.jugador.id %}
                                {{jorn.puntos}} pts
                            {% endif %}
                        {% endfor %}
                        <br>
                        {% if desactivacion %}
                            
                            <input style="padding:2%; font-size: 14px;" class="btn btn-secondary mt-1" type="button" value="Quitar"/>
                            
                        {% else %}
                            
                            <form action="/miEquipo/" method="post">{% csrf_token %}
                                <input type="hidden" name="jug" value="{{jugS.jugador.id}}"/>  
                                <input style="padding:2%; font-size: 14px;" class="btn btn-danger mt-1" type="submit" value="Quitar"/>
                            </form>
                            
                        {% endif %}
                    </td>
                {% endifequal %}
            {% endfor %}
        </tr>
        <tr id="contenido_tabla">
            {% for jugS in my_plantilla_seleccionada %}
                {% ifequal jugS.jugador.posicion 'DELANTERO' %}
                    <td colspan="2">
                        <b>{{jugS.jugador.nombre}} {{jugS.jugador.apellidos}}</b><br>
                        ({{jugS.jugador.equipo}})<br>
                        {% for jorn in jugadores_de_la_jorn %}
                            {% if jugS.jugador.id == jorn.jugador.id %}
                                {{jorn.puntos}} pts
                            {% endif %}
                        {% endfor %} 
                        <br>
                        {% if desactivacion %}
                            <form>
                                <input style="padding:2%; font-size: 14px;" class="btn btn-secondary mt-1" type="button" value="Quitar"/>
                            </form>
                        {% else %}
                            
                            <form action="/miEquipo/" method="post">{% csrf_token %}
                                <input type="hidden" name="jug" value="{{jugS.jugador.id}}"/>  
                                <input style="padding:2%; font-size: 14px;" class="btn btn-danger mt-1" type="submit" value="Quitar"/>
                            </form>
                            
                        {% endif %}
                    </td>
                {% endifequal %}
            {% endfor %}
        </tr>
    </table><br><br>


{% endblock %}