{% extends "base.html" %}

{% block head_title %}{{my_user.mi_equipo}}{% endblock %}

{% block content %}
    <h1 class="center-align">{{my_user.mi_equipo}}</h1>
    <br>
    <div style="margin-bottom: 2%;">
        <div style="float: right; width: 50%;">
            <h4 class="center-align">JUGADORES NO SELECCIONADOS</h4>
        </div>
        <div style="width: 50%;">
            <h4 class="center-align">JUGADORES SELECCIONADOS</h4>
        </div>
    </div>
    <table id="tabla_jugadores_NS">
        <tr id="contenido_titulo">
            <td><b>Jugador</b></td>
            <td><b>Posición</b></td>
            <td><b>Puntos</b></td>
        </tr>
        {% for jugNS in my_plantilla_no_seleccionada %}
            <tr id="contenido_tabla">
                <td><a href="/jugador/{{jugNS.jugador.id}}">{{jugNS.jugador.nombre}} {{jugNS.jugador.apellidos}} </a>({{jugNS.jugador.equipo}})</td>
                {% if jugNS.jugador.posicion == 'CENTROCAMPISTA' %}
                    <td>CENTRO</td>
                {% else %}
                    <td>{{jugNS.jugador.posicion}}</td>
                {% endif %}
                <td>{{jugNS.jugador.puntuacion}} ptos</td>
                <td>
                    <form action="/miEquipo/" method="post">{% csrf_token %}
                        <input type="hidden" name="jug" value="{{jugNS.jugador.id}}"/>  
                        <input style="padding:2%; font-size: 14px;" class="btn btn-outline-danger mt-1" type="submit" value="Seleccionar"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <table id="tabla_jugadores_S">
        <tr id="contenido_titulo">
            <td><b>Jugador</b></td>
            <td><b>Posición</b></td>
            <td><b>Puntos</b></td>
        </tr>
        {% for jugS in my_plantilla_seleccionada %}
            <tr id="contenido_tabla">
                    <td><a href="/jugador/{{jugS.jugador.id}}">{{jugS.jugador.nombre}} {{jugS.jugador.apellidos}} </a>({{jugS.jugador.equipo}})</td>
                    
                    {% if jugS.jugador.posicion == 'CENTROCAMPISTA' %}
                        <td>CENTRO</td>
                    {% else %}
                        <td>{{jugS.jugador.posicion}}</td>
                    {% endif %}
                    <td>{{jugS.jugador.puntuacion}} ptos</td>
                    <td> 
                        <form action="/miEquipo/" method="post">{% csrf_token %}
                            <input type="hidden" name="jug" value="{{jugS.jugador.id}}"/>  
                            <input style="padding:2%; font-size: 14px;" class="btn btn-outline-danger mt-1" type="submit" value="No seleccionar"/>
                        </form>
                    </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}