<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	<a class="navbar-brand mr-auto mr-lg-0" href="#">LOGO</a>
	<button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
		{% if username %}
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {% if request.path == '/inicio/' %} active {% endif %}">
				<a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item {% if request.path == '/clasificacion/' or request.path == '/mercado/'  %} active {% endif %}" id="dropdown">
				<a class="nav-link">Liga</a>
				<ul id="submenu_liga">
					<li><a class="nav-link" href="/clasificacion">Clasificación</a></li>
					<li><a class="nav-link" href="/mercado">Mercado</a></li>
				</ul>
			</li>
			<li class="nav-item {% if request.path == '/miEquipo/' %} active {% endif %}">
				<a class="nav-link"href="{% url 'miEquipo' %}">Mi equipo</a>
			</li>
			<li class="nav-item {% if request.path == '/sobreNosotros/' %} active {% endif %}">
				<a class="nav-link" href="{% url 'about' %}">Sobre nosotros</a>
			</li>		
		</ul>
		<ul class = " navbar-nav mr-right ">
			<li class = "nav-item {% if request.path == '/perfil/' %} active {% endif %}">
				<a class="nav-link" href="{% url 'perfil' %}">{{username}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'finSesion' %}">Cerrar sesión</a>
			</li>
		</ul>
		{% endif %}
	</div>
  </nav>
