{% extends "base.html" %}
{% load static %}

{% block head_title %}Perfil {{my_user.username}}{% endblock %}

{% block content %}
	<div>
		{% if opcionesPulsado %}
		<div class="opciones_perfil" >
			<p><a href="{% url 'cambioContrasenya' %}" >Cambiar contraseña</a></p>
			<p><a href="{% url 'cambioEmail' %}" >Cambiar email</a></p>
			<p><a href="{% url 'cambioEquipo' %}" >Cambiar nombre equipo</a></p><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			
			<form action="/perfil/" method="post">{% csrf_token %}
				<input type="hidden" name="opciones" value="salir_opciones"/>
				<input class="btn btn-secondary mt-1" type="submit" value="Salir de opciones"/>
			</form>
		</div>
		{% else %}
		<div style="float: right; margin-right: 5%;">
			<form action="/perfil/" method="post">{% csrf_token %}
				<input type="hidden" name="opciones" value="opciones"/>
				<input class="btn btn-outline-secondary mt-1" type="submit" value="Opciones"/>
			</form>
		</div>
		{% endif %}
		<div class="datos_user">
			<div style="margin-bottom: 5%;">
				<img src="{% static 'img/usuario.jpg' %}"/><h3 style="font-size: 40px; width: 55%; float:right;">{{my_user.username}}</h3>
			</div>
			<div style="background-color: #9FE089; padding-left: 1%;">
				<FONT SIZE=5>Email: </FONT><FONT SIZE=6>{{my_user.email}}</FONT>
			</div><br>
			<div style="background-color: #9FE089; padding-left: 1%;">
				<FONT SIZE=5>Nombre de equipo: </FONT><FONT SIZE=6>{{my_user.mi_equipo}}</FONT>
			</div><br>
			<div style="background-color: #9FE089; padding-left: 1%;">
				<FONT SIZE=5>Puntuación: </FONT><FONT SIZE=6>{{my_user.puntuacion}} puntos</FONT>
			</div><br>
			<div style="background-color: #9FE089; padding-left: 1%;">
				<FONT SIZE=5>Presupuesto: </FONT><FONT SIZE=6>{{my_user.presupuesto}} euros</FONT>
			</div>
		</div>
	</div>

	{% if mensaje_de_error %}
		<div class="mensaje_warning">
			<p class="center-align"><i class="fas fa-info-circle"></i> 
				¡CUIDADO! Tu presupuesto es negativo. De seguir siendo así cuando acabe la jornada no sumará puntos.
			</p>
		</div>
	{% endif %}
{% endblock %}